doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Alarm
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/alarm-clock.css")
	body
		
		div#player

		script(src="//connect.soundcloud.com/sdk/sdk-3.0.0.js")
		script(src="//w.soundcloud.com/player/api.js")

		script(src="js/vendor.js")
		script(src="js/alarm.js")