doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title App
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/alarm-clock.css")
	body
		
		button(id="reset") Reset
		button(id="snooze") Snooze
		hr
		div
			input(type="time", id="time")
			button(id="set") Set Alarm
		hr
		div
			input(type="text", id="song")
			button(id="add") Add Song
		hr
		ol#playlist

		script(src="//www.youtube.com/iframe_api")
		script(src="//connect.soundcloud.com/sdk.js")
		script(src="//w.soundcloud.com/player/api.js")

		script(src="js/vendor.js")
		script(src="js/app.js")