@import "normalize";
@import "mixins";

$border: 1px solid #ccc;

html {
    font-size: 16px;

    * {
        box-sizing: border-box;
    }
}

body {
    // background-color: blue;
    // color: #fff;
    font-family: "futura", sans-serif;
    padding: 0;
    margin: 0;
    color: #333;
}

a {
    color: blue;
    text-decoration: none;

    &:visited {
        color: blue;
    }
}

.center {
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.alarm {

    &__snooze {
        font-weight: 300;
        color: blue;
        font-size: 4rem;
        text-align: center;
        line-height: 62vh;
        text-transform: uppercase;
        border: 0;
        // border-bottom: 1px solid #ccc;
        display: block;
        background-color: transparent;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    &__countdown {
        font-weight: 300;
        color: #333;
        font-size: 4rem;
        text-align: center;
        line-height: 62vh;
        text-transform: uppercase;
        border: 0;
        // border-bottom: 1px solid #ccc;
        display: block;
        background-color: transparent;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    &__reset {
        font-weight: 300;
        color: blue;
        font-size: 4rem;
        text-align: center;
        line-height: 38vh;
        text-transform: uppercase;
        display: block;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 100%;
        border: 0;
    }
}

.status {
    position: relative;
    z-index: 2;

    &__time {
        display: block;
        color: #333;
        letter-spacing: -3px;
        font-weight: 300;
        font-size: 5rem;
        text-align: center;
        line-height: 38vh;
        position: relative;

        small {
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: -1px;
            margin-left: -1rem;
        }
    }

    &__row {
        @include clearfix;
    }

    &__day {
        float: left;
        line-height: 50px;
        text-align: center;
        width: (100%) / 7;
        margin: 0 0 -1px 0;
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: 1px solid #ccc;

        &--active {
            // background-color: rgba(blue, .25);
            margin-bottom: -6px;
            color: blue;
            border-bottom: 5px solid blue;
        }

        &:first-child {
            border-right: 0;
        }
    }
}

.nap {
    position: relative;
    z-index: 1;
    @include clearfix;

    &__option {
        float: left;
        width: 50%;
        border: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        position: relative;
        font-size: 2rem;
        // border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        &:nth-child(even) {
            border-right: 0;
        }
    }

    &__inner {
        padding-bottom: 62%;
    }
}

.am-pm,
.minutes,
.hours {
    border-bottom: $border;
    @include clearfix;
}

.am,
.pm,
.minute,
.hour {
    float: left;
    width: 25%;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 1.5rem;
    // border-right: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;

    &:nth-child(4) {
        margin-right: -1px;
        // border-right: 0;
    }

    &__inner {
        padding-bottom: 100%;
    }

    &--active {
        background-color: rgba(blue, .25);
        color: blue;
    }
}

.link {
    float: left;
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 50%;
    line-height: 104px;
}

.am, .pm {
    width: 50%;

    &__inner {
        padding-bottom: 62%;
    }
}

.save {
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    line-height: 132px;
    background-color: transparent;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    border: 0;
    padding: 0;

    &--fixed {
        position: fixed;
        bottom: 0;
        border-top: $border;
    }
}

.item {
    display: block;
    width: 100%;
    display: flex;
    border-bottom: $border;

    &__title {
        @include ellipsis;
        padding: 0 1rem;
        line-height: 3rem;
        flex: 1 1 auto;
    }

    &__remove {
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        flex: 0 0 auto;
        color: #ccc;
    }
}

.playlist {

    &__actions {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    &__form {
        display: flex;
        border-top: $border;
        border-bottom: $border;
    }

    &__input {
        flex: 1 1 auto;
        display: block;
        line-height: 3rem;
        height: 3rem;
        border: 0;
        padding: 0 1rem;
    }

    &__button {
        width: 3rem;
        flex: 0 0 auto;
        text-align: center;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;

        i {
            line-height: 1;
        }
    }

    &__save {
        display: block;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        line-height: 8rem;
        background-color: transparent;
        display: block;
        font-size: 1.5rem;
        width: 100%;
        border: 0;
        padding: 0;
        color: #333;
    }
}